<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="<%= url %>styles/app.css" rel="stylesheet" />
    <title>Geekwise Academy | ReactJS</title>
  </head>
  <body>
    <div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
            <%- page.html %>
					</div>
				</div>
			</main>
			<nav id="nav">
				<div class="innertube">
					<h3>Classes</h3>
					<ul>
						<li><a href="<%= url %>day-1">Day 1</a></li>
						<li><a href="<%= url %>day-2">Day 2</a></li>
					</ul>
					<h3>Resources</h3>
					<ul>
            <li><a target="_blank" href="https://geekwise-academy-frs.slack.com/messages/react/">Slack Channel</a></li>
						<li><a target="_blank" href="https://facebook.github.io/react/">React</a></li>
						<li><a target="_blank" href="https://babeljs.io/docs/learn-es2015/">ES6 Features</a></li>
						<li><a target="_blank" href="https://babeljs.io">Babel</a></li>
						<li><a target="_blank" href="https://nodejs.org/en/">NodeJS</a></li>
						<li><a target="_blank" href="https://github.com/creationix/nvm">NVM</a></li>
            <li><a target="_blank" href="https://webpack.github.io/">Webpack</a></li>
					</ul>
				</div>
			</nav>
		</div>
  </body>
</html>
